name: Run Cirrus Tasks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cirrus:
    runs-on: [self-hosted, macOS]
    steps:
    - uses: actions/checkout@v2
    - name: Run On macOS
      uses: rethab/bash-action@v1
      with:
        # The command to run. Either "greet" or "error"
        command: pwd && cirrus run --output github-actions
